<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!--<h1>
    Welcome to {{ title }}!
  </h1>-->
</div>
<h2>MadKing Details: </h2>
<p>Request Status Code: {{statusCode}}</p>
<p>Request Status Message: {{message}}</p>

<p-table [value]="madKings">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Kingdom</th>
      <th>Sworn On</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-king>
    <tr>
      <td>{{king.id}}</td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="king.firstName">
          </ng-template>
          <ng-template pTemplate="output">
            {{king.firstName}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="king.lastName">
          </ng-template>
          <ng-template pTemplate="output">
            {{king.lastName}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="king.kingdom">
          </ng-template>
          <ng-template pTemplate="output">
            {{king.kingdom}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>{{king.swornOn}}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa fa-plus" (click)="save(false)" label="Save">Save</button>
      <button type="button" pButton icon="fa fa-plus" (click)="save(true)" label="Save">SaveTransactional</button>
    </div>
  </ng-template>

</p-table>
